*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body{
  background-color: #F7DFD1;
  border: 20px #03256C solid;
  border-bottom: 50px #03256C solid;
}

.header{

  display: flex;
  background-color: #03256C;
  padding: 2%;
  margin-bottom: 3%;
}

.navbar {
  overflow: hidden;
  
  color: white;
}
.categories{

  display: flex;
  justify-content:space-evenly;
  
}

.box1{
  
  background-color: #1768AC;

  
  width: 26%;
  margin-bottom: 2%;
  border-radius: 5%;
  margin-top: 3%;
 
 
}

.x1{
  background-color: #3EC1DC;
  border: 2px white solid;
  margin: 10%;
  width: 80%;
  padding-bottom: 20%;
  display: flex;
  justify-content: center;
 
  

}

.x2{

  background-color: #3EC1DC;
  margin-top: 90%;
  margin: 10%;
  width: 80%;
  padding-bottom: 30%;
  border: 2px white solid;


}


.rectangles{
  display: flex;
  justify-content: space-evenly;
}

.rectangle{

  margin-top: 3%;
  background-color: #3EC1DC;
  padding: 5%;
  margin-bottom: -18%;
  

}

.circle{
  background-color: #3EC1DC;
  border-radius: 50%; 
  width: 100px; 
  height: 100px; 
}



a{
  color: white;
  text-decoration: none;
}

.img{

  width: 30%;
  object-fit: cover;
}

.mainheader{

  text-align: center;
}

.about{

  padding: 12%;
  padding-top: 1%;
  margin-bottom: 2%;
}

.info{
  font-size: 130%;
}

.text{
  padding: 3%;
}


footer{

  display: flex;
  background-color: #03256C;
  
  bottom: 0;
}

.plusimg{
  width: 10%;
}

.title{

  
  padding: 0.5%;
  font-size: 300%;
}

.icon{

  width: 60%;
  object-fit: cover;
}